body {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: url(./Assets/Assets/images/bg-intro-desktop.png) no-repeat center;
  background-color: hsl(0, 100%, 74%);
}

.form-container {
  display: flex;
  position: relative;
  top: 20%;
  left: 50%;
  justify-content: center;
  align-content: center;
  height: 70%;
  width: 40%;
}

.form-wrapper {
  display: flex;
  position: absolute;
  justify-content: center;
  align-content: center;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 5px 8px 2px 1px rgba(42, 42, 49, 0.2);
  margin: 5%;
  height: 90%;
  width: 90%;
}

form {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.form-input {
  display: block;
  margin-top: 7%;
  width: 400px;
  height: 40px;
  margin-bottom: 0.1%;
  border: 1px solid hsl(246, 25%, 77%);
  border-radius: 5px;
  text-indent: 20px;
  font-weight: 700;
}

.form-input:focus {
  outline: none !important;
  border: 2px solid hsl(244, 13%, 56%);
}

.btn {
  display: inherit;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 3%;
  margin-top: 7%;
  width: inherit;
  height: inherit;
  border: 2px solid hsl(154, 59%, 45%);
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
  background-color: hsl(154, 59%, 51%);
  cursor: pointer;
}

.btn:hover {
  background-color: hsl(154, 71%, 66%);
  border-color: rgb(68, 230, 160);
}

.form-end {
  display: block;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 10px;
  margin-top: 4%;
  color: hsl(246, 25%, 77%);
}

.end-tag {
  text-decoration: none;
  color: hsl(0, 100%, 74%);
  font-weight: bolder;
}

.slogan {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-content: center;
  color: white;
  height: 40%;
  width: 35%;
  margin: 15%;
  margin-left: 12%;
}

.slogan-heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

.slogan-para {
  font-size: 14px;
  font-weight: lighter;
  line-height: 25px;
}

.blue-box {
  display: flex;
  position: absolute;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 14px;
  color: white;
  background-color: hsl(248, 32%, 49%);
  border: 2px solid hsl(248, 32%, 45%);
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 8px 2px 1px rgba(42, 42, 49, 0.2);
  margin-left: 53%;
  margin-top: 6%;
  width: 34%;
  height: 8%;
}

.blue-box-text {
  text-align: center;
  margin: 20px;
  font-weight: lighter;
}

.blue-box-tag {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

.error {
  border: 2px solid hsl(0, 100%, 74%);
}

.error-message1 {
  display: block;
  font-size: 10px;
  font-weight: 600;
  font-style: italic;
  color: hsl(0, 100%, 74%);
  text-align: right;
}

.error-message2 {
  display: block;
  font-size: 10px;
  font-weight: 600;
  font-style: italic;
  color: hsl(0, 100%, 74%);
  text-align: right;
}

.error-message3 {
  display: block;
  font-size: 10px;
  font-weight: 600;
  font-style: italic;
  color: hsl(0, 100%, 74%);
  text-align: right;
}

.error-message4 {
  display: block;
  font-size: 10px;
  font-weight: 600;
  font-style: italic;
  color: hsl(0, 100%, 74%);
  text-align: right;
}

.icon {
  display: block;
  background-image: url(./Assets/Assets/images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: 95%;
}

.pink::placeholder {
  color: hsl(0, 100%, 74%);
  font-weight: bold;
  font-size: 15px;
}

@media (max-width: 375px) {
  .slogan {
    margin-top: 25%;
    margin-left: 5%;
    justify-content: center;
    align-content: center;
  }

  .slogan-heading {
    font-size: 20px;
    line-height: 130%;
    margin-left: 30%;
    margin-top: -160%;
    text-align: center;
    width: 200%;
  }

  .slogan-para {
    font-size: 12px;
    width: 180%;
    margin-left: 40%;
    margin-top: -18%;
    text-align: center;
  }

  .form-container {
    height: 52%;
    width: 70%;
    margin-top: 42%;
    margin-left: -34.8%;
  }

  .form-wrapper {
    height: 99%;
    margin-top: 2%;
  }

  .form-input {
    display: block;
    height: fit-content;
    width: fit-content;
    margin-bottom: -3%;
    margin-top: 7%;
    padding: 12px;
    padding-left: 0px;
    align-self: center;
  }

  .btn {
    display: block;
    font-size: 10px;
    height: fit-content;
    width: 80%;
    padding: 10px;
    align-self: center;
  }

  .form-end {
    font-size: 9px;
    line-height: 12px;
    margin-top: 2%;
    text-align: center;
  }

  .blue-box {
    justify-content: center;
    align-content: center;
    text-align: center;
    line-height: 20px;
    width: 60%;
    margin-top: 55%;
    margin-left: 18%;
    font-size: 12px;
    padding: 5px;
  }

  .blue-box-text {
    text-align: center;
    margin: 2%;
    width: 80%;
  }

  label {
    visibility: hidden;
  }

  * {
    margin: auto;
  }
}
